<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<meta name="author" content="Fornace">
	<meta http-equiv="Cache-control" content="public">

	<!-- inline critical styles -->
	<style></style>

</head>

<body>

	<header id="main-header">
		<!-- Main Menu -->
		<nav class="main-menu">
			<ul>
				<li><a href="/">Menu 1</a></li>
				<li><a href="/">Menu 2</a></li>
			</ul>
		</nav>
		{% block headerContent %}{% endblock %}
	</header>


	<section id="main-content">
		{% block mainContent %}{% endblock %}
	</section>


	<aside class="sidebar-container">
		{% include "sidebar.html" %}
	</aside>


	{% include "footer-scripts.html" %}


	<script>
		app.homeInit();
	</script>


</body>
</html>