<!-- CSS -->
<noscript id="deferred-styles">
    <!-- CSS -->
    <link rel="stylesheet" href="build/app.min.css"> 
</noscript>

<!-- DEFERRED CSS LOAD -->
<script type="text/javascript">
    var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
    webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
</script>

<!-- SCRIPTS -->
<script src="./build/app.min.js" defer async></script>
