/*!
* Description: Another Fornace Project
* Version: 1.0.0
* Author: Fornace
*/


@main-color: #000;
@secondary-color: #800;



/***********************************************
* GENERAL
***********************************************/



* {
	box-sizing: border-box;
}

body {
	color: @main-color;
	font-family: 'helvetica', 'arial', sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5 {
	color: @secondary-color;
}

/***********************************************
* BASE STRUCTURE
***********************************************/

#main-content, #header, #footer {
max-width: 1300px;
}

/***********************************************
* PAGE: HOME
***********************************************/

