{% extends "./includes/default.html" %}
{% set title = "Html5 Boilerplate" %}
{% set description = "The HTML5 Boilerplate" %}


{% block headerContent %}

<h1>The HTML5 Boilerplate</h1>

{% endblock %}


{% block mainContent %}

<p>this is rendered in the main page content</p>

{% endblock %}
